spring:
  config:
    import: optional:file:.env[.properties]
    activate:
      on-profile: local

  datasource:
    url: ${DB_URL}         # ì˜ˆ: jdbc:postgresql://<host>:5432/postgres?sslmode=require
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        ddl-auto: validate
    show-sql: false