spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DB_URL}         # ì˜ˆ: jdbc:postgresql://<host>:5432/postgres?sslmode=require
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        ddl-auto: validate
    show-sql: false

  flyway:
      enabled: true
      locations: classpath:db/migration
      baseline-on-migrate: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"


logging.level.org.hibernate.sql: debug

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html

server:
  forward-headers-strategy: framework

cors:
  allowed-origins:
    - http://localhost:3000
    - ${SWAGGER_SERVER_URL}
    - ${FRONTEND_SERVER_URL}